<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Markdown blogger</title>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1 class="mb-4">New article</h1>

      <form action="/articles" method="POST">
        <%- include('form_field') %>
      </form>
    </div>
  </body>
</html>
